.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: '"1" "2" "3" "4" "5" "6"' '"7" "8" "9" "10" "11" "12"' '"13" "14" "15" "16" "17" "18"' '"19" "20" "21" "22" "23" "24"' '"25" "26" "27" "28" "29" "30"' '"31" "32" "33" "34" "35" "36"';
  margin-top: 120px;
}

.\"1\" {
  grid-area: \"1\";
}

.\"2\" {
  grid-area: \"2\";
}

.\"3\" {
  grid-area: \"3\";
}

.\"4\" {
  grid-area: \"4\";
}

.\"5\" {
  grid-area: \"5\";
}

.\"6\" {
  grid-area: \"6\";
}

.\"7\" {
  grid-area: \"7\";
}

.\"8\" {
  grid-area: \"8\";
}

.\"9\" {
  grid-area: \"9\";
}

.\"10\" {
  grid-area: \"10\";
}

.\"11\" {
  grid-area: \"11\";
}

.\"12\" {
  grid-area: \"12\";
}

.\"13\" {
  grid-area: \"13\";
}

.\"14\" {
  grid-area: \"14\";
}

.\"15\" {
  grid-area: \"15\";
}

.\"16\" {
  grid-area: \"16\";
}

.\"17\" {
  grid-area: \"17\";
}

.\"18\" {
  grid-area: \"18\";
}

.\"19\" {
  grid-area: \"19\";
}

.\"20\" {
  grid-area: \"20\";
}

.\"21\" {
  grid-area: \"21\";
}

.\"22\" {
  grid-area: \"22\";
}

.\"23\" {
  grid-area: \"23\";
}

.\"24\" {
  grid-area: \"24\";
}

.\"25\" {
  grid-area: \"25\";
}

.\"26\" {
  grid-area: \"26\";
}

.\"27\" {
  grid-area: \"27\";
}

.\"28\" {
  grid-area: \"28\";
}

.\"29\" {
  grid-area: \"29\";
}

.\"30\" {
  grid-area: \"30\";
}

.\"31\" {
  grid-area: \"31\";
}

.\"32\" {
  grid-area: \"32\";
}

.\"33\" {
  grid-area: \"33\";
}

.\"34\" {
  grid-area: \"34\";
}

.\"35\" {
  grid-area: \"35\";
}

.\"36\" {
  grid-area: \"36\";
}
